<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style/bootstrap4.3.1.css">
	<link rel="stylesheet" type="text/css" href="style/jquery-ui.css">
	<title>Fetch Product</title>
	<script type="text/javascript" src="js/jqeury.min.js"></script>
	<script type="text/javascript" src="js/bootstra.min.js"></script>
	<script type="text/javascript" src="js/popper.min.js"></script>
	<style type="text/css">
		body{
			margin: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 0px;
			padding-right: 0px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="card border-0 shadow">
			<div class="card-body">
				
			</div>
		</div>
	</div>
</body>
</html>